<h1 class="is-hidden">/</h1>
<section class="page">
  <div class="container">
    <ul class="page__list">
      <li class="page__item">
        <div class="page__card">
          <a
            href="/src/pages/page1.html"
            rel="noopener noreferrer"
            class="page__link"
            ><img
              src="/src//images/1156164.jpg"
              alt="picture"
              class="page__image"
              width="1000"
          /></a>
        </div>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page2.html"
          rel="noopener noreferrer"
          class="page__link"
        >
          <img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
          />
        </a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page3.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page4.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page5.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page6.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page7.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page8.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item is-hidden">
        <a
          href="/src/pages/page9.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
      <li class="page__item">
        <a
          href="/src/pages/page10.html"
          rel="noopener noreferrer"
          class="page__link"
          ><img
            src="/src//images/1156164.jpg"
            alt="picture"
            class="page__image"
            width="1000"
        /></a>
      </li>
    </ul>
  </div>
</section>
