.hidden,
.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  pointer-events: none;
}

.frame {
  width: 100%;
  height: 100%;
}

.frame.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.frame__wrapper {
  position: relative;
  width: 640px;
  height: 480px;
}

.frame__wrapper.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.windowModeBtn {
  display: none;
}

.frame__wrapper.fullScreen .windowModeBtn {
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
}

.fullScreenBtn {
  position: absolute;
  display: block;
  top: 5px;
  left: 20px;
}

.frame__wrapper.fullScreen .fullScreenBtn {
  display: none;
}
