.hidden,
.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  pointer-events: none;
}

.videoChatBackdrop {
  position: absolute;
  overflow: hidden;
  z-index: 5;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.frame {
  width: 100%;
  height: 100%;
}

.frame.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.frame__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 720px;
  height: 570px;
}

.frame__wrapper.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.windowModeBtn {
  display: none;
}

.frame__wrapper.fullScreen .windowModeBtn {
  display: block;
  position: absolute;
  top: 5px;
  left: 20px;
}

.fullScreenBtn {
  position: absolute;
  display: block;
  top: 5px;
  left: 20px;
}

.frame__wrapper.fullScreen .fullScreenBtn {
  display: none;
}

.closeChatBtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.openChatBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
